<div class="container padre d-flex flex-column justify-content-center" @slideUp>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Filtrar por cualquiera de sus campos"
      [(ngModel)]="filtro"
      (input)="filtrar()"
    />
    <span class="input-group-text" id="basic-addon2"
      ><i class="fa-solid fa-magnifying-glass fa-lg"></i
    ></span>
  </div>

  <table class="table table-hover flex-row">
    <thead>
      <tr class="table-primary">
        @for (item of this.th; track $index) { @if($index === th.length-1) {
        <th scope="col" class="text-center">{{ item | titlecase }}</th>
        } @else {
        <th scope="col">{{ item | titlecase }}</th>
        } }
      </tr>
    </thead>
    <tbody>
      @for (item of filtro_data; track $index) {
      <tr>
        <td>
          {{ getNamePaciente(item.paciente) | titlecase }}
        </td>
        <td>{{ item.paciente.edad }}</td>
        <td>{{ item.paciente.mail | titlecase }}</td>
        <td>{{ item.paciente.obra_social | titlecase }}</td>
        <td>{{ item.turno.especialidad | titlecase }}</td>
        <td>{{ item.turno.fecha | date : "dd/MM/yyyy" }}</td>
        <td>{{ item.turno.hora }}hs</td>
        <td>{{ item.turno.estado | titlecase }}</td>
        <td class="d-flex justify-content-around">
          @for (acc of item.turno.acciones; track $index) { @switch (acc) {
          @case ('Rechazar') {
          <button class="btn btn-secondary" (click)="rechazar(item.turno)">
            {{ acc | titlecase }}
          </button>
          } @case ('Cancelar') {
          <button class="btn btn-danger" (click)="cancelar(item.turno)">
            {{ acc | titlecase }}
          </button>
          } @case ('Ver reseña') {
          <button class="btn btn-info" (click)="verResenia(item.turno)">
            {{ acc | titlecase }}
          </button>
          } @case ('Aceptar') {
          <button class="btn btn-primary" (click)="aceptar(item.turno)">
            {{ acc | titlecase }}
          </button>
          } @case ('Finalizar') {
          <button class="btn btn-success" (click)="finalizar(item.turno)">
            {{ acc | titlecase }}
          </button>
          } } }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
