<div class="padre d-flex align-items-center justify-content-center">
  <div
    class="sub-container d-flex align-items-center justify-content-around container"
  >
    <div class="btn btn-outline-danger redondo" routerLink="/registro/paciente">
      <span>Paciente</span>
      <img src="/paciente.png" alt="paciente" />
    </div>
    <div
      class="btn btn-outline-success redondo"
      routerLink="/registro/especialista"
    >
      <span>Especialista</span>
      <img src="/especialista.png" alt="especialista" />
    </div>
    @if (false) {
    <div class="btn btn-outline-secondary redondo" routerLink="/registro/admin">
      <span>Administrador</span>
      <img src="/admin.png" alt="admin" />
    </div>
    }
  </div>
</div>
