h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

#scroll {
  display: block; /* Para permitir el scroll dentro de tbody */
  max-height: 300px; /* Altura máxima del scroll */
  overflow-y: auto; /* Habilitar el desplazamiento vertical */
}

thead th {
  position: sticky; /* Hace que el encabezado quede fijo al hacer scroll */
  top: 0;
  z-index: 1;
  width: 20%;
}

h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

canvas {
  max-width: 100%;
  margin-top: 3rem;
}
