<div
  class="container d-flex align-items-center justify-content-center padre"
  @slideUp
>
  <div class="sub-container row w-100">
    <header class="col-12">
      <h2>Ingresos al sistema</h2>
      <table class="table table-hover flex-row" id="scroll">
        <thead>
          <tr class="table-primary text-center">
            @for (item of this.th; track $index) {
            <th scope="col">{{ item | titlecase }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of logs; track $index) {
          <tr class="text-center">
            <td>{{ item.correo | titlecase }}</td>
            <td>{{ item.nombre | titlecase }}</td>
            <td>{{ item.apellido | titlecase }}</td>
            <td>{{ item.fecha | titlecase }}</td>
            <td>{{ item.dia | titlecase }}</td>
            <td>{{ item.tiempo | titlecase }}</td>
          </tr>
          }
        </tbody>
      </table>
    </header>

    <div class="col-6 mt-3">
      <app-barra></app-barra>
    </div>
    <div class="col-6 mt-3">
      <!-- <app-barra></app-barra> -->
    </div>
  </div>
</div>
