<div class="container d-flex justify-content-end align-items-center padre">
  <div class="form-signin sub-container">
    <form>
      <div class="d-flex justify-content-center w-100">
        <img class="mb-4" src="logo.png" alt="logo" />
      </div>
      <h1 class="h3 mb-3 fw-normal">Acceder</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Correo</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" placeholder="Password" />
        <label for="floatingPassword">Contraseña</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Iniciar Sesión
      </button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2024-2C</p>
    </form>
  </div>
</div>
