<div
  class="container d-flex align-items-center justify-content-center padre"
  @slideUp
>
  <div
    class="sub-container d-flex align-items-center justify-content-evenly flex-wrap w-100"
  >
    <!-- Contenedor flotante -->
    @if (mostrarModal) {

    <div class="overlay">
      <div class="modal-content">
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-danger mb-3" (click)="cerrarModal()">
            <i class="fa-solid fa-xmark fa-2xl"></i>
          </button>
        </div>
        <app-historia-clinica
          [id_paciente]="id_paciente"
        ></app-historia-clinica>
      </div>
    </div>
    } @for (item of pacientes; track $index) {

    <div class="card m-3" style="width: 18rem">
      <img [src]="item.foto_url || ''" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          {{ item.nombre + " " | titlecase }} {{ item.apellido | titlecase }}
        </h5>
        <h6>Ultimos 3 turnos:</h6>
        <p class="card-text">
          1-
          {{
            item.fechas_turnos[item.fechas_turnos.length - 1]
              ? "Fecha:"
              : "Sin turno previo"
          }}
          {{
            item.fechas_turnos[item.fechas_turnos.length - 1] || ""
              | date : "dd/MM/yyy"
          }}
        </p>
        <p class="card-text">
          2-
          {{
            item.fechas_turnos[item.fechas_turnos.length - 2]
              ? "Fecha:"
              : "Sin turno previo"
          }}
          {{
            item.fechas_turnos[item.fechas_turnos.length - 2] || ""
              | date : "dd/MM/yyy"
          }}
        </p>
        <p class="card-text">
          3-
          {{
            item.fechas_turnos[item.fechas_turnos.length - 3]
              ? "Fecha:"
              : "Sin turno previo"
          }}
          {{
            item.fechas_turnos[item.fechas_turnos.length - 3] || ""
              | date : "dd/MM/yyy"
          }}
        </p>

        <button class="btn btn-primary" (click)="verHistoriaClinica(item)">
          Historia clínica
        </button>
      </div>
    </div>
    }
  </div>
</div>
