<div class="container d-flex justify-content-end align-items-center padre">
  <div class="sub-contenedor sub-container">
    <h1>Bienvenido</h1>
    <h3 class="mb-3">Paciente</h3>
    <div class="w-75">
      <button
        routerLink="/especialista/perfil"
        class="btn btn-primary w-100 mb-3"
      >
        Perfil
      </button>
      <button
        routerLink="/especialista/mis-turnos"
        class="btn btn-secondary w-100"
      >
        Mis turnos
      </button>
    </div>
  </div>
</div>
