<div class="padre d-flex align-items-center justify-content-center mt-3">
  <div class="row sub-container w-50">
    <div class="col-12">
      <i class="fa-solid fa-circle-left fa-2xl back" (click)="goBack()"></i>
    </div>
    <div class="col-12 mb-2 d-flex justify-content-center">
      <h4 class="mb-3">Seleccione un dia</h4>
    </div>
    @for (item of fechas; track $index) {
    <div class="col-4 d-flex justify-content-center">
      <button
        class="btn btn-outline-primary mb-3 w-50"
        (click)="seleccion_dia(item)"
      >
        {{ dias[$index] | titlecase }} {{ item.toLocaleDateString("es-ES") }}
      </button>
    </div>
    }
  </div>
</div>
