<div class="container padre d-flex flex-column justify-content-center">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Filtrar por especialista especialidad"
      [(ngModel)]="filtro"
      (input)="filtrar()"
    />
    <span class="input-group-text" id="basic-addon2"
      ><i class="fa-solid fa-magnifying-glass fa-lg"></i
    ></span>
  </div>

  <table class="table table-hover flex-row">
    <thead>
      <tr class="table-primary">
        @for (item of this.th; track $index) { @if($index === th.length-1) {
        <th scope="col" class="text-center">{{ item | titlecase }}</th>
        } @else {
        <th scope="col">{{ item | titlecase }}</th>
        } }
      </tr>
    </thead>
    <tbody>
      @for (item of this.filtro_data; track $index) {
      <tr>
        <td>{{ item.especialidad | titlecase }}</td>
        <td>{{ item.especialista | titlecase }}</td>
        <td>{{ item.fecha | date : "dd/MM/yyyy" }}</td>
        <td>{{ item.hora }}hs</td>
        <td>{{ item.email_especialista | titlecase }}</td>
        <td>{{ item.estado | titlecase }}</td>
        <td class="d-flex justify-content-around">
          @for (acc of item.acciones; track $index) { @switch (acc) { @case
          ('Cancelar') {
          <button class="btn btn-danger" (click)="cancelar(item)">
            {{ acc | titlecase }}
          </button>
          } @case ('Ver reseña') {
          <button class="btn btn-info" (click)="verResenia(item)">
            {{ acc | titlecase }}
          </button>
          } @case ('Realizar encuesta') {
          <button class="btn btn-primary" (click)="realizarEncuesta(item)">
            {{ acc | titlecase }}
          </button>
          }} }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
