<div class="container padre d-flex flex-column justify-content-center">
  <table class="table table-hover flex-row">
    <thead>
      <tr class="table-primary">
        @for (item of this.th; track $index) {
        <th scope="col">{{ item | titlecase }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of this.turnos; track $index) {
      <tr (click)="seleccion(item)">
        <td>{{ item.especialidad | titlecase }}</td>
        <td>{{ item.especialista | titlecase }}</td>
        <td>{{ item.fecha | date : "dd/MM/yyyy" }}</td>
        <td>{{ item.hora }}hs</td>
        <td>{{ item.email_especialista | titlecase }}</td>
        <td>{{ item.estado | titlecase }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
