@if(user.rol === 'admin' && isTurnoHabilitado) {
<app-paciente (seleccion_paciente)="adminAddPaciente($event)"></app-paciente>
} @else { @switch (contador) { @case (0) {
<!-- Seleccionar Especialidad -->
<app-especialidad
  (incrementar)="addEspecialidad($event)"
  (back)="removeEspecialidad()"
></app-especialidad>
} @case (1) {
<!-- Seleccionar Especialista -->
<app-especialista
  [especialidad]="especialidad"
  (incrementar)="addEspecialista($event)"
  (back)="removeEspecialista()"
></app-especialista>
} @case (2) {
<!-- Seleccionar Dia -->
<app-dia
  [especialista]="especialista"
  (dia_seleccionado)="addDia($event)"
  (back)="removeDia()"
></app-dia>
} } }
